{% extends 'blog/base.html' %}
    {% block content %}
        <h1 class="mb-3">Posts by {{view.kwargs.username}} ({{page_obj.paginator.count}})</h1>
        {% for post in posts %}
        <div class="row">
            <div>
                <img src="{{post.author.profile.image.url}}" 
                class="img-fluid article-img rounded-circle" alt="Profile Image">
            </div>
            <div class="pl-2">
                <h2><a href="{% url 'post-detail' post.id %}">{{post.title}}</a></h2>
                <small class="text-muted">
                    <p> By <a href="{% url 'user-posts' post.author.username %}">{{post.author}}</a> on {{post.posted_at|date:"F d, Y"}} </p>
                </small>
                <p> {{post.content}} </p>
            </div>
        </div>
        {% endfor %}
    {% endblock content %}